body {
	background: black;
}

.canvas {
	width: 900px;
	height: 556px;
	margin: 100px auto;
	background: #FFEBCD;
	position: relative;
}

h1 {
  margin: 0;
}
.box {
	width: 250px;
  height: 300px;
	position: absolute;
	top: 20px;
	left: 50px;
  overflow: hidden;
  background: #C0C0C0;
}
.hid-box {
  top: 100%;
  position: relative;
  transition: all .3s ease-out;
  background-image: linear-gradient(blue, skyblue);
  height: 100%;
}

.box:hover > .hid-box{
  top: 0px;
}

    #lamp {
      transition: .3s box-shadow ease-out;
      -webkit-transition: .3s box-shadow ease-out;
      -moz-transition: .3s box-shadow ease-out;
      -o-transition: .3s box-shadow ease-out;
    }

    #lamp:hover {
      box-shadow: 0 0 50px 25px rgba(255, 255, 255, 0.5);
    }
		#square {
			width: 400px;
			height: 100px;
			position: absolute;
		}
